<div class="card m-2">
  <div class="card-header">
    {{ 'game_home_title' | translate }}
  </div>


  <div class="card-body">
    <!--  TODO : display list of current games and/or finished games here to go to an existing game-->
    <ul *ngIf="games">
      <li *ngFor="let game of games"> [{{ game.startTime | date:'medium' }}] {{ game.gameType + '_label' | translate }} ({{ game.uuid }}) -- TODO= button to go to </li>
    </ul>



    <button type="button" (click)="createGame()" class="btn btn-primary m-2 "> {{ 'create_game_button' | translate }}</button>
<!--    <button type="button" routerLink="/join" routerLinkActive="active" class="btn btn-primary m-2 "> {{ 'join_game_button' | translate }}</button>-->
  </div>

</div>

