<panel title="game_home_title">

    <div *ngIf="!games.length">
      {{ 'no_game' | translate }}
    </div>
    <div *ngIf="games.length">
      <p>
        {{ 'active_games_list_title' | translate }}
      </p>

      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th class="p-1 d-none d-md-table-cell">{{ 'game_created' | translate }}</th>
            <th class="p-1">{{ 'game_type' | translate }}</th>
            <th class="p-1 d-none d-md-table-cell">{{ 'game_status' | translate }}</th>
            <th class="p-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let game of games">
            <td class="p-1 d-none d-md-table-cell">{{ game.startTime | date:'medium' }}</td>
            <td class="p-1">{{ game.gameType + '_label' | translate }}</td>
            <td class="p-1 d-none d-md-table-cell">{{ game.status + '_label' | translate }}</td>
            <td class="p-1">
              <button type="button" style="width:100%" (click)="openGame(game.uuid!)" class="btn btn-primary" [title]="game.uuid!">
                <span *ngIf="game.status != 'finished'">
                  {{ 'open_game_button' | translate }}
                </span>
                <span *ngIf="game.status == 'finished'">
                  {{ 'open_game_finished_button' | translate }}
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        {{ 'active_games_list_below' | translate }}
      </p>
    </div>

    <div class="text-center">
        <div class="input-group m-2">
          <select [(ngModel)]="chosenType" class="custom-select" id="gameTypeSelect">
            <option *ngFor="let gtype of gameTypes" [value]="gtype" [selected]="gtype == chosenType">
              {{ gtype+'_label' | translate }}
            </option>
          </select>
          <div class="input-group-append">
            <button  type="button" [disabled]="createDisabled" (click)="createGame()" class="btn btn-primary mr-3">
              {{ 'create_game_button' | translate }}
            </button>
          </div>
      </div>
    </div>
</panel>

