<panel title="game_home_title">

    <div *ngIf="!games.length">
      {{ 'no_game' | translate }}
    </div>
    <div *ngIf="games.length">
      <p>
        {{ 'active_games_list_title' | translate }}
      </p>

      <div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let game of games | orderBy: 'startTime':true | slice:pageStart:pageStart+pageSize">
            <div class="d-flex w-100 justify-content-between">
              <span>
                <h5 class="mb-1">{{ game.gameType + '_label' | translate }}</h5>

              </span>

              <span>
                <button type="button" style="width:100%"
                        (click)="openGame(game.uuid!)"
                        class="btn {{ game.status == 'finished' ? 'btn-secondary' : 'btn-primary' }}"
                        [title]="game.uuid!">
                    <span *ngIf="game.status != 'finished'">
                      {{ 'open_game_button' | translate }}
                    </span>
                    <span *ngIf="game.status == 'finished'">
                      {{ 'open_game_finished_button' | translate }}
                    </span>
                </button>
              </span>
            </div>
              <div>
                  <span class="m-1 badge badge-secondary">{{ game.startTime | date:'medium' }}</span>
                  <span class="m-1 badge {{ game.status == 'finished' ? 'badge-success' : 'badge-info' }}">{{ game.status + '_label' | translate }}</span>
              </div>
          </li>
        </ul>
        <div *ngIf="games.length > pageSize" class="d-flex w-100 justify-content-between">
            <span>
                <button *ngIf="pageStart >= pageSize"
                        class="btn btn-secondary m-2"
                        type="button" (click)="pageStart = pageStart-pageSize">
                     <i class="fas fa-angle-double-left"></i>
                </button>
            </span>
            <span>
                <button *ngIf="pageStart + pageSize < games.length"
                        class="btn btn-secondary m-2"
                        type="button" (click)="pageStart = pageStart+pageSize">
                  <i class="fas fa-angle-double-right"></i>
               </button>
            </span>

        </div>
      </div>

      <p>
        {{ 'active_games_list_below' | translate }}
      </p>
    </div>

    <div class="text-center">
        <div class="input-group m-2">
          <select [(ngModel)]="chosenType" class="custom-select" id="gameTypeSelect">
            <option *ngFor="let gtype of gameTypes" [value]="gtype" [selected]="gtype == chosenType">
              {{ gtype+'_label' | translate }}
            </option>
          </select>
          <div class="input-group-append">
            <button  type="button" [disabled]="createDisabled" (click)="createGame()" class="btn btn-primary mr-3">
              {{ 'create_game_button' | translate }}
            </button>
          </div>
      </div>
    </div>
</panel>

