{
  "openapi" : "3.0.1",
  "info" : {
    "contact" : {
      "email" : "game@frol.be"
    },
    "description" : "online game platform",
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title" : "Game",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://game.frol.be/api"
  }, {
    "url" : "http://game.frol.be/api"
  } ],
  "tags" : [ {
    "description" : "authentification",
    "name" : "auth"
  }, {
    "description" : "anything about games in general",
    "name" : "game"
  }, {
    "description" : "Operations about lostInTranslation game",
    "name" : "lostInTranslation"
  } ],
  "paths" : {
    "/login" : {
      "post" : {
        "operationId" : "login",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthUser"
              }
            }
          },
          "description" : "login information",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : { },
            "description" : "ok"
          }
        },
        "summary" : "login",
        "tags" : [ "auth" ],
        "x-codegen-request-body-name" : "authUser"
      }
    },
    "/game" : {
      "get" : {
        "operationId" : "getAllGames",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/GameDescription"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "ok"
          }
        },
        "summary" : "Get all my games",
        "tags" : [ "game" ]
      }
    },
    "/game/{uuid}/join" : {
      "get" : {
        "operationId" : "joinGame",
        "parameters" : [ {
          "in" : "path",
          "name" : "uuid",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/Game"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "ok"
          }
        },
        "summary" : "join a games",
        "tags" : [ "game" ]
      }
    },
    "/game/{uuid}/start" : {
      "get" : {
        "operationId" : "startGame",
        "parameters" : [ {
          "in" : "path",
          "name" : "uuid",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/Game"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "ok"
          }
        },
        "summary" : "start the game",
        "tags" : [ "game" ]
      }
    },
    "/game/LostInTranslation/{uuid}" : {
      "get" : {
        "operationId" : "getGame",
        "parameters" : [ {
          "in" : "path",
          "name" : "uuid",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/LostInTranslationGame"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "ok"
          }
        },
        "summary" : "Get an LostInTranslation game",
        "tags" : [ "lostInTranslation" ]
      }
    },
    "/game/LostInTranslation/{uuid}/text" : {
      "post" : {
        "operationId" : "addTextRound",
        "parameters" : [ {
          "in" : "path",
          "name" : "uuid",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "description" : "the text",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/LostInTranslationGame"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "ok"
          }
        },
        "summary" : "add text round in LostInTranslation game",
        "tags" : [ "lostInTranslation" ],
        "x-codegen-request-body-name" : "text"
      }
    },
    "/game/LostInTranslation/{uuid}/drawing" : {
      "post" : {
        "operationId" : "addDrawingRound",
        "parameters" : [ {
          "in" : "path",
          "name" : "uuid",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "description" : "the text",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/LostInTranslationGame"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "ok"
          }
        },
        "summary" : "add drawing round in lostInTranslation game",
        "tags" : [ "lostInTranslation" ],
        "x-codegen-request-body-name" : "text"
      }
    }
  },
  "components" : {
    "schemas" : {
      "User" : {
        "example" : {
          "name" : "name",
          "id" : 0
        },
        "properties" : {
          "id" : {
            "format" : "int64",
            "type" : "integer"
          },
          "name" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "AuthUser" : {
        "example" : {
          "reference" : "reference",
          "name" : "name"
        },
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "reference" : {
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "GameDescription" : {
        "example" : {
          "gameType" : "lostInTranslation",
          "startTime" : "2000-01-23T04:56:07.000+00:00",
          "id" : 0,
          "uuid" : "uuid",
          "status" : "toStart"
        },
        "properties" : {
          "id" : {
            "format" : "int64",
            "type" : "integer"
          },
          "uuid" : {
            "type" : "string"
          },
          "startTime" : {
            "format" : "date-time",
            "type" : "string"
          },
          "status" : {
            "enum" : [ "toStart", "inPlay", "finished" ],
            "type" : "string"
          },
          "gameType" : {
            "enum" : [ "lostInTranslation" ],
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "Game" : {
        "example" : {
          "description" : {
            "gameType" : "lostInTranslation",
            "startTime" : "2000-01-23T04:56:07.000+00:00",
            "id" : 0,
            "uuid" : "uuid",
            "status" : "toStart"
          },
          "users" : [ {
            "name" : "name",
            "id" : 0
          }, {
            "name" : "name",
            "id" : 0
          } ]
        },
        "properties" : {
          "description" : {
            "$ref" : "#/components/schemas/GameDescription"
          },
          "users" : {
            "items" : {
              "$ref" : "#/components/schemas/User"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      },
      "LostInTranslationGame" : {
        "example" : {
          "game" : {
            "description" : {
              "gameType" : "lostInTranslation",
              "startTime" : "2000-01-23T04:56:07.000+00:00",
              "id" : 0,
              "uuid" : "uuid",
              "status" : "toStart"
            },
            "users" : [ {
              "name" : "name",
              "id" : 0
            }, {
              "name" : "name",
              "id" : 0
            } ]
          },
          "rounds" : [ {
            "originalUser" : {
              "name" : "name",
              "id" : 0
            },
            "drawing" : "drawing",
            "roundUser" : {
              "name" : "name",
              "id" : 0
            },
            "text" : "text"
          }, {
            "originalUser" : {
              "name" : "name",
              "id" : 0
            },
            "drawing" : "drawing",
            "roundUser" : {
              "name" : "name",
              "id" : 0
            },
            "text" : "text"
          } ]
        },
        "properties" : {
          "game" : {
            "$ref" : "#/components/schemas/Game"
          },
          "rounds" : {
            "items" : {
              "$ref" : "#/components/schemas/LostInTranslationRound"
            },
            "type" : "array"
          }
        },
        "type" : "object"
      },
      "LostInTranslationRound" : {
        "example" : {
          "originalUser" : {
            "name" : "name",
            "id" : 0
          },
          "drawing" : "drawing",
          "roundUser" : {
            "name" : "name",
            "id" : 0
          },
          "text" : "text"
        },
        "properties" : {
          "originalUser" : {
            "$ref" : "#/components/schemas/User"
          },
          "roundUser" : {
            "$ref" : "#/components/schemas/User"
          },
          "text" : {
            "type" : "string"
          },
          "drawing" : {
            "description" : "url of photo",
            "type" : "string"
          }
        },
        "type" : "object"
      }
    }
  }
}