<wait-for [condition]="game !== undefined" spinner-class="fa-2x">
        <div class="row mt-2">
            <div class="col-md-12">
                <div *ngIf="(currentRound && !questionRound && currentRoundFinished()) || (!currentRound && !questionRound)" >
                    <panel title="lit_waiting_title">
                        {{ 'dil_wait_for_other_instructions' | translate }}
                    </panel>
                </div>


                <div *ngIf="currentRound && !currentRoundFinished()" >
                    <panel title-raw="{{currentRound.question}} ({{currentRound.quedtionByUser.name}})" >
                        <div *ngIf="!shouldEnterResponse() && waitResponses()">
                            {{ 'dil_wait_for_responses_instructions' | translate }}
                        </div>
                        <div *ngIf="shouldEnterResponse()">
                            <div class="m-2">
                                {{ 'dil_response_instructions' | translate }}
                            </div>

                            <form (ngSubmit)="sendResponse()">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               required
                                               [(ngModel)]="input" name="text">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary ">
                                                <i class="fas fa-check"></i>
                                                {{ 'dil_send_question_button' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div *ngIf="showResponses()">
                            <div class="m-2" *ngIf="allowChoice()">
                                {{ 'dil_chose_response_instructions' | translate }}
                            </div>

                            <div class="m-2" *ngIf="!allowChoice()">
                                {{ 'dil_wait_choice_response_instructions' | translate }}
                            </div>

                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let r of currentRound.responses">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{r.response}}</h5>
                                        <button type="button"
                                                *ngIf="allowChoice() && myResponse() !== r"
                                                [disabled]="!enableChoice()"
                                                (click)="chose(r)"
                                                class="btn btn-primary">
                                            {{ 'dil_vote' | translate }}
                                        </button>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </panel>
                </div>

                <div *ngIf="questionRound">
                    <panel title="dil_write_question_title">
                        <div class="m-2">
                            {{ 'dil_question_instructions' | translate }}
                        </div>

                        <form (ngSubmit)="sendQuestion()">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           required
                                           [(ngModel)]="input" name="text">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary ">
                                            <i class="fas fa-check"></i>
                                            {{ 'dil_send_question_button' | translate }}
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </panel>
                </div>
            </div>


            <div class="col-md-7" *ngIf="gameWithHistory && showHistory">
                <panel title="history" >
                    <dil-finished-round *ngFor="let r of finishedRounds(gameWithHistory).reverse()" [game]="gameWithHistory" [round]="r">

                    </dil-finished-round>
                </panel>
            </div>
            <div class="col-md-5" *ngIf="gameWithHistory">
                <panel title="leaderboard" >
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let p of gameWithHistory.points">
                            {{p.user.name}}
                            <span class="badge badge-pill badge-success">{{p.points[0].amount}} {{'points' | translate}}</span>
                        </li>
                    </ul>
                </panel>
            </div>
        </div>
</wait-for>
