<div class="row">
    <div class="col-md-2">
        <div class="mb-md-3">
            <button type="button" *ngFor="let color of availableColors" class="btn btn-secondary m-1" (click)="currentStyle.strokeStyle=color" [disabled]="currentStyle.strokeStyle==color" title="{{ 'drawing_tool_size_big' | translate }}">
                <i class="fas fa-pencil-alt" [ngStyle]="{color: color}"></i>
            </button>
        </div>

        <div class="mb-md-3">
            <button type="button" *ngFor="let size of availablePenSizes" class="btn btn-secondary m-1" (click)="currentStyle.lineWidth=size" [disabled]="currentStyle.lineWidth==size" title="{{ size }}">
                {{ size }}
            </button>
        </div>

        <div class="mb-md-3">
            <button type="button" class="btn btn-secondary m-1" (click)="undo()" [disabled]="!activeDrawingElements.length" title="{{ 'drawing_tool_undo' | translate }}">
                <i class="fas fa-backward"></i>
            </button>
            <button type="button" class="btn btn-secondary m-1" (click)="redo()" [disabled]="!removedDrawingElements.length" title="{{ 'drawing_tool_redo' | translate }}">
                <i class="fas fa-forward"></i>
            </button>
        </div>

        <div class="mb-md-3">
            <button type="button" class="btn btn-danger m-1" (click)="clear()" title="{{ 'drawing_tool_clear' | translate }}">
                <i class="fas fa-trash"></i>
            </button>
        </div>

    </div>
    <div class="col-md-10 text-center">
        <canvas #drawingcanvas
                id="drawing-canvas"
                class="drawing-canvas"
                [width]="size" [height]="size">

        </canvas>
    </div>
</div>


