<panel title="lit_finished_title">
    <div>
        {{ 'lit_finished_title_description' | translate }}
    </div>
    <div *ngFor="let story of lostInTranslationService.game.stories">
        <panel [title-raw]="story.originalUser.name">
            <div *ngFor="let round of story.rounds">
                <panel [title-raw]="round.roundUser.name" *ngIf="round.text || round.drawing">
                    <div *ngIf="round.roundType == 'text'">
                        {{ round.text }}
                    </div>
                    <div *ngIf="round.roundType == 'drawing'">
                        <img [src]="lostInTranslationService.imageUrl(round.drawing)" />
                    </div>
                </panel>
            </div>
        </panel>
    </div>
</panel>