<wait-for [condition]="lostInTranslationService.game != null" spinner-class="fa-2x">

    <div *ngIf="!isGameFinished() && !lostInTranslationService.isWaitingForOtherPlayers">
        <panel title="lit_text_round_title" *ngIf="lostInTranslationService.isTextRound">
                            <div *ngIf="lostInTranslationService.isFirstRound">
                    <div class="m-1">
                        {{ 'lit_first_text_round_instructions' | translate }}
                    </div>
                </div>
                <div *ngIf="!lostInTranslationService.isFirstRound">
                    <div class="m-1">
                        {{ 'lit_text_round_instructions' | translate }}
                    </div>

                    <div class="m-1">
                        <img [src]="lostInTranslationService.imageUrl(lostInTranslationService.getPreviousRound().drawing)" />
                    </div>
                </div>

                <form (ngSubmit)="sendText()">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="text"
                                   maxlength="5000"
                                   required
                                   [(ngModel)]="text" name="text">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary ">
                                    <i class="fas fa-check"></i>
                                    {{ 'lit_text_round_send_button' | translate }}
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
        </panel>


        <panel title="lit_draw_description" *ngIf="!lostInTranslationService.isTextRound">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control"
                           maxlength="5000"
                           disabled
                           [ngModel]="lostInTranslationService.getPreviousRound().text" />
                </div>
            </div>
            <div *ngIf="isInputDraw()">
                <lit-drawing #litdrawing></lit-drawing>
            </div>
            <div *ngIf="isInputCamera()">
                <camera-snapshot #litcamera></camera-snapshot>
            </div>
            <div class="text-center">
                <ng-container *ngIf="isInputDraw()">
                    <button type="button" class="btn btn-secondary btn-lg" (click)="switchInputType()" *ngIf="isInputCameraAvailable()">
                        <i class="fas fa-camera"></i>
                        {{ 'lit_use_camera_button' | translate }}
                    </button>
                    <button type="button" class="btn btn-primary btn-lg" (click)="sendDrawing()">
                        <i class="fas fa-check"></i>
                        {{ 'lit_text_round_send_button' | translate }}
                    </button>
                </ng-container>

                <ng-container *ngIf="isInputCamera()">
                    <button type="button" class="btn btn-secondary btn-lg" (click)="switchInputType()">
                        <i class="fas fa-edit"></i>
                        {{ 'lit_use_draw_button' | translate }}
                    </button>
                    <button type="button" class="btn btn-primary btn-lg" (click)="sendCameraCapture()">
                        <i class="fas fa-check"></i>
                        {{ 'lit_text_round_send_button' | translate }}
                    </button>
                </ng-container>
            </div>
        </panel>
    </div>

    <panel title="lit_waiting_title" *ngIf="!isGameFinished() && lostInTranslationService.isWaitingForOtherPlayers">
        <div>
            {{ 'lit_waiting_for_other_player_description' | translate }}
        </div>
        <div>
<!--                    todo: add param to indicate that users should be displayed with their current round count : 4/7 or ...-->
            <users-list></users-list>
        </div>
    </panel>


    <lost-in-translation-finished *ngIf="isGameFinished()"></lost-in-translation-finished>

</wait-for>

