<div *ngIf="!isReady()" class="text-center align-middle p-5">
  <i class="fa fa-spinner fa-5x rotate" title="{{ 'waiting' | translate }}"></i>
</div>
<div *ngIf="isReady()">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
      {{ 'page_title' | translate }}
    </a>
    <span class="navbar-brand" *ngIf="loginService.user != null"><i class="fas fa-user"></i> {{ loginService.user.name }}</span>
  </nav>
  <div>
    <div *ngIf="loginService.user == null">
      <user-login></user-login>
    </div>
    <div *ngIf="loginService.user != null">
      <div *ngIf="!isHome()">
        <button type="button" routerLink="/home" routerLinkActive="active" class="btn btn-secondary m-2 ">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
           {{ 'go_back_button' | translate }}
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



