<div *ngIf="!loginService.ready">
  Waiting for user authentication info...
</div>
<div *ngIf="loginService.ready">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      {{ 'page_title' | translate }}
    </a>
    <span class="navbar-brand" *ngIf="loginService.user != null">{{ loginService.user.name }}</span>
  </nav>
  <div>
    <div *ngIf="loginService.user == null">
      <user-login></user-login>
    </div>
    <div *ngIf="loginService.user != null">
      TODO: user is lo
    </div>
  </div>
</div>



