<div *ngIf="isInLobbyBeforeGame()">
  <game-creation *ngIf="isAdmin"></game-creation>
  <panel title="game_joining_title" *ngIf="!isAdmin">
      <div>
        {{ 'game_joining_description' | translate }}
      </div>
      <div>
        {{ 'people_in_the_room' | translate }}
      </div>
      <users-list></users-list>
  </panel>
</div>

<div *ngIf="isInLobbyDuringGame()">
  <lost-in-translation *ngIf="roomService.game?.description?.gameType == 'lostInTranslation'"></lost-in-translation>
  <define-it-ly *ngIf="roomService.game?.description?.gameType == 'define-it-ly'"></define-it-ly>
</div>


