/* You can add global styles to this file, and also import other style files */


.rotate {
    animation: spin 2s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}